<!DOCTYPE html>
<html>
<head>
  <title>MqConnector</title>
  <%= stylesheet_link_tag    "mq_connector/application", media: "all" %>
  <%= javascript_include_tag "mq_connector/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
