<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>КРЕДИТНЫЙ ДОГОВОР</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  </head>
  <body>
    <h1>КРЕДИТНЫЙ ДОГОВОР № {{ номер договора }}</h1>
      <br />
      <p>Место заключения договора: {{ место }}</p>
      <p>Дата договора: {{ дата }}</p>
      <br />
      <p>{{ Закрытое акционерное общество нашБанк }} (Беларусь), именуемое в дальнейшем Банк, в лице {{ имя представителя }}, действующей(го) на основании доверенности № {{ номер лицензии }} от {{ дата получения лицензии }}, и {{ имя жертвы }}, именуемый(-ая) в дальнейшем Кредитополучатель, с другой стороны (совместно именуемые – Стороны), заключили настоящий договор (далее - Кредитный договор) о нижеследующем:</p>
    <h1>1. ПРЕДМЕТ ДОГОВОРА</h1>
      <p>Банк единовременно предоставляет Кредитополучателю кредит в сумме: {{ сумма }} на срок по {{ deadline для клиента }} (включительно) и производит сопровождение и обслуживание кредита в соответствии c настоящим Кредитным договором и в соответствии с законодательством Республики Беларусь, а Кредитополучатель обязуется возвратить сумму кредита и уплатить Банку установленные настоящим Кредитным договором проценты за пользование кредитом, а также уплатить штрафные санкции в случае нарушения условий настоящего Кредитного договора.</p>
    <h1>2. УСЛОВИЯ КРЕДИТОВАНИЯ</h1>
      <p>2.1. Кредит предоставляется после подписания Сторонами настоящего Кредитного договора в безналичном порядке путем перечисления денежных средств на счет №{{ № счета клиента }} клиента в Банке.</p>
      <p>2.1.1. За пользование кредитом Кредитополучатель уплачивает Банку проценты из расчета {{ Х процентов годовых-месячных-дневных }} , начисляемых на остаток текущей задолженности по основному долгу по кредиту.</p>
      <p>2.1.2. Размер процентов за пользование кредитом изменяется (может быть изменен) в порядке и случаях, установленном настоящим Кредитным договором.</p>
      <p>2.2. При расчете процентов количество дней в в месяце условно принимается за 30 (тридцать), а в году - за 360 (триста шестьдесят).</p>
      <p>Проценты за пользование кредитом начисляются в соответствии с законодательством Республики Беларусь и локальными нормативными правовыми актами Банка.</p>
      <p>2.3. Погашение кредита осуществляется один раз в {{ день или месяц или год }}, начиная с {{ месяца }}, следующего(ей) за днем его предоставления, путем:</p>
      <p>а) внесения на Текущий счет Кредитополучателя не позднее {{ еже-месячная-дневная-годовая платежная дата }}-го числа каждого(ой) {{ месяца-недели-года-дня }} (далее – Платежная дата) сумм (платежей), достаточных для уплаты: </p>

      <p>- суммы погашения основного долга по кредиту и процентов за пользование кредитом равными долями, рассчитываемой по формуле (аннуитетный платеж за каждый(ую) {{ день неделю месяц }}): {{ S = (So * k) / (1 - (k)^(t)) }}, где</p>
      <p>{{ S }} - аннуитетный платеж за каждый(ую) {{ день неделю месяц }};</p>
      <p>{{ So }} - сумма остатка по кредиту (в первый(ую) {{ месяц-неделю-день }} совпадает с суммой, указанной в п. 1. настоящего Кредитного договора);</p>
      <p>{{ k }} - процентная ставка, рассчитываемая каждый(ую) {{ месяц-неделю-день }} в формате сотых долей числа (рассчитывается как размер процентной ставки, указанной в п. 2.1. настоящего кредитного договора, деленной на {{ 1200 }});</p>
      <p>{{ t }} - количество {{ месяцев дней недель }}, оставшихся до даты окончания кредитного договора;</p>
      <p>- повышенных процентов, неустойки, штрафов, начисленных в соответствии с п. 5.1 настоящего Кредитного договора;</p>
      <p>б) последующего списания Банком внесенных Кредитополучателем на Текущий счет сумм в Платежную дату на основании постоянно действующей платежной инструкции Кредитополучателя.</p>
      <p>Последний платеж включает в себя платеж по возврату всей оставшейся суммы кредита с учетом произведенных ранее платежей и платеж по уплате всех начисленных, но не уплаченных процентов за пользование кредитом.</p>
      <p>Указанные суммы платежей, поступившие на Текущий счет Кредитополучателя, списываются Банком в Платежную дату (независимо от даты фактического поступления денежных средств на Текущий счет) для зачисления на счет по учету кредитной задолженности Кредитополучателя на основании постоянно действующей платежной инструкции Кредитополучателя.</p>
      <p>2.4. Обязательства Кредитополучателя по погашению платежей, погашаемых каждый(ую) {{ день неделю месяц }}, считаются исполненными в соответствующей сумме в день зачисления соответствующих сумм на счета по учету кредитной задолженности Кредитополучателя / на счета по учету доходов Банка в соответствии с правилами, установленными п. 2.3. настоящего Кредитного договора.</p>
      <p>2.5. Настоящим Кредитным договором Кредитополучатель дает поручение Банку каждый(ую) {{ день неделю месяц }} в Платежную дату списывать в пользу Банка с Текущего счета Кредитополучателя денежные средства в размере суммы обязательств по настоящему Кредитному договору на день списания либо в меньшей сумме, фактически находящейся на Текущем счете на день списания.</p>
      <p>Досрочное исполнение обязательств по погашению кредита Кредитополучателем без получения разрешения Банка (за исключением случая, указанного в п. 3.2. настоящего Кредитного договора) не допускается. При внесении (перечислении) Кредитополучателем сумм до наступления соответствующей Платежной даты, погашение задолженности по кредиту, процентам за пользование кредитом, предусмотренным в п. 2.3. настоящего договора, осуществляется Банком в вышеуказанном порядке, определенном пунктами 2.3. – 2.4. настоящего Кредитного договора, в соответствующую Платежную дату.</p>
      <p>2.6. При неисполнении Кредитополучателем обязательств по погашению кредита и/или уплате процентов за пользование кредитом кредитная задолженность по окончанию дня Платежной даты, является просроченной по основному долгу и/или процентам за пользование кредитом и переносится на счета по учету просроченной задолженности Кредитополучателя.</p>
      <p>2.7. Настоящим Кредитным договором Кредитополучатель дает поручение Банку в случае возврата денежных средств продавцом товара (услуги), приобретаемого за счет кредита, Кредитополучателю в качестве возмещения стоимости возвращенного или неполученного товара (услуги) или в качестве возмещения части стоимости товара (услуги) в случаях, указанных в п. 1. настоящего Кредитного договора, направлять поступившие на Текущий счет от продавца товара (услуги) денежные средства в полном объеме, либо в сумме достаточной для полного погашения кредита, процентов за пользование им, иных платежей в соответствии с настоящим Кредитным договором, на досрочное погашение кредита.</p>
      <p>2.8. Целевое использование кредита Банком не устанавливается.</p>
    <h1>3. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h1>
      <p>3.1. Кредитополучатель обязуется:</p>
      <p>3.1.1. Своевременно возвратить Банку сумму кредита, уплатить сумму начисленных процентов за пользование кредитом, производить все расчеты и платежи в сроки и в порядке, предусмотренные настоящим Кредитным договором и действующим законодательством Республики Беларусь.</p>
      <p>3.1.2. Предоставлять по письменному требованию Банка в срок, не позднее 10 (Десяти) рабочих дней со дня направления Банком требования по адресу Кредитополучателя, указанному в настоящем договоре или иному согласованному Сторонами адресу местонахождения Кредитополучателя, документы и информацию о платежеспособности и иные данные, связанные с выполнением обязательств по настоящему Кредитному договору.</p>
      <p>3.1.3. В течение 3-х рабочих дней письменно извещать Банк обо всех обстоятельствах, способных повлиять на надлежащее исполнение Кредитополучателем обязательств по настоящему Кредитному договору, а также о перемене своего местонахождения, почтового адреса, адреса регистрации, номеров телефонов, места работы (смены работодателя), платежных и иных реквизитов.</p>
      <p>3.1.4. В случае нарушения любой из обязанностей, предусмотренных п.п. 3.1.2 – 3.1.3. настоящего Кредитного договора, по требованию Банка в течение 5 (Пяти) рабочих дней, а также в случае, указанном в п. 3.4.3. настоящего Кредитного договора, - в срок, указанный в уведомлении Банка, произвести полное погашение задолженности по кредиту и процентам за пользование кредитом.</p>
      <p>3.2. Кредитополучатель имеет право:</p>
      <p>3.2.1. Производить частичное досрочное погашение кредита по настоящему Кредитному договору с согласия Банка в Платежную дату на основании своего платежного поручения, предоставленного в Банк не позднее 3-х рабочих дней до наступления Платежной даты. При этом Банк после указанного досрочного погашения производит перерасчет платежа, начисляемого каждый(ую) {{ день неделю месяц }} в соответствии с п. 2.3. настоящего Кредитного договора.</p>
      <p>Информация об условиях кредитования и полной процентной ставке за пользование кредитом, содержащая данные о сумме пересчитанного платежа, начисляемого каждый(ую) {{ день неделю месяц }} ,  предоставляется по заблаговременно переданному в Дополнительный офис/Региональную дирекцию Банка письменному заявлению Кредитополучателя при предъявлении им документа, удостоверяющего личность.</p>
      <p>3.3. Банк обязуется:</p>
      <p>3.3.1. Произвести выдачу кредита в сумме, оговоренной в п. 1. настоящего Кредитного договора.</p>
      <p>3.3.2. При неисполнении Кредитополучателем обязательств по погашению кредита, уплате процентов за пользование им, перенести соответствующую кредитную задолженность на следующий рабочий день после наступления срока ее погашения (подпункт 2.3. настоящего Кредитного договора) на соответствующий счет по учету просроченной задолженности.</p>
      <p>3.4. Банк имеет право:</p>
      <p>3.4.1. Контролировать платежеспособность Кредитополучателя.</p>
      <p>3.4.2. Требовать от Кредитополучателя предоставления документов, необходимых для контроля за платежеспособностью Кредитополучателя.</p>
      <p>3.4.3. Досрочно взыскать сумму задолженности, в том числе сумму кредита, начисленных процентов за пользование кредитом в случае неисполнения или ненадлежащего исполнения Кредитополучателем любого из обязательств Кредитополучателя, предусмотренных настоящим Кредитным договором, предварительно уведомив об этом Кредитополучателя за 5 (Пять) рабочих дней до даты досрочного взыскания.</p>
      <p>3.4.4. Изменить процентную ставку, установленную в п. 2.1. настоящего Кредитного договора, путем направления Кредитополучателю письменного уведомления, являющимся подписанным со стороны Банка дополнительным соглашением к настоящему Кредитному договору.</p>
      <p>Уведомление направляется Банком по адресу Кредитополучателя, указанному в настоящем Кредитном договоре или иному письменно согласованному Сторонами адресу местонахождения Кредитополучателя. Кредитополучатель соглашается с тем, что направление Банком уведомления по адресу, указанному в настоящем Кредитном договоре или иному письменно согласованному Сторонами адресу местонахождения Кредитополучателя, считается надлежащим уведомлением (предложением изменить договор) по изменению процентной ставки.</p>
      <p>В случае несогласия с новым размером процентной ставки (в связи с изменением процентной ставки) по настоящему Кредитному договору Кредитополучатель:</p>
      <p>- обязан лично представить в Банк в течение 30 дней с момента направления Банком уведомления (по адресу Банка, указанному в настоящем Кредитном договоре) письменное несогласие с предложенным новым размером процентной ставки (в связи с изменением процентной ставки);</p>
      <p>- обязан полностью погасить оставшуюся сумму кредита, уплатив проценты за время фактического пользования кредитом, по истечении 3 (трех) месяцев с момента предъявления Банком требования.</p>
      <p>В том случае, если Кредитополучатель не предоставит в Банк в срок, указанный в направленном уведомлении, письменное несогласие с условиями предложенного дополнительного соглашения, по истечении срока на ответ, указанного в уведомлении, дополнительное соглашение считается заключенным в редакции, предложенной Банком Кредитополучателю, а размер процентной ставки, соответственно, измененным с даты, указанной в уведомлении.</p>
    <h1>4. ОБЕСПЕЧЕНИЕ ОБЯЗАТЕЛЬСТВ</h1>
      <p>4.1. Способом обеспечения исполнения обязательств Кредитополучателя по настоящему Кредитному договору является неустойка.</p>
    <h1>5. ОТВЕТСТВЕННОСТЬ СТОРОН</h1>
      <p>5.1. Кредитополучатель уплачивает Банку:</p>
      <p>5.1.1. Повышенные проценты в размере {{ 40 (сорок)  процентов годовых }}, начисляемые на просроченную задолженность по основному долгу по кредиту, - при неисполнении или ненадлежащем исполнении Кредитополучателем обязанностей по погашению кредита. Повышенные проценты начисляются по правилам, установленным п.2.2. настоящего Кредитного договора;</p>
      <p>5.1.2. Пеню в размере {{ 0.5 (Ноль целых пять десятых) процента }} от просроченной суммы процентов за пользование кредитом за каждый календарный день просрочки при неисполнении или ненадлежащем исполнении Кредитополучателем своих обязанностей по уплате процентов за пользование кредитом.</p>
      <p>5.2. Уплата пени и/или штрафов и/или повышенных процентов не освобождает Кредитополучателя от обязанности возместить в полном объеме убытки, понесенные Банком по вине Кредитополучателя.</p>
      <p>5.3. Кредитополучатель несет ответственность по своим обязательствам перед Банком своим имуществом, на которое может быть обращено взыскание, в пределах задолженности по кредиту, начисленным процентам и штрафным санкциям.</p>
      <p>5.4. Банк уплачивает Кредитополучателю проценты в размере {{ 0.01 (ноль целых одна сотая) процента }} от несвоевременно перечисленной суммы кредита, подлежащей перечислению со счета по учету кредитной задолженности на Текущий счет Кредитополучателя.</p>
    <h1>6. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</h1>
      <p>6.1. Настоящий Кредитный договор вступает в силу с момента его подписания сторонами и действует до полного исполнения Сторонами обязательств по настоящему Кредитному договору.</p>
      <p>6.2. Все изменения и дополнения условий настоящего Кредитного договора оформляется путем заключения Сторонами дополнительных соглашений (в том числе в порядке, предусмотренном настоящим Кредитным договором).</p>
      <p>6.3. Настоящим Кредитополучатель дает согласие Банку на осуществление следующих действий:</p>
      <p>- передачу сведений о выданном кредите, а также на передачу сведений о вносимых изменениях в настоящий Кредитный договор в Национальный Банк Республики Беларусь в соответствии с действующим законодательством Республики Беларусь;</p>
      <p>- передачу сведений о настоящем Кредитном договоре и Кредитополучателе третьим лицам в случае уступки требований к Кредитополучателю, неисполнения (ненадлежащего исполнения) Кредитополучателем условий настоящего Кредитного договора, а также в иных случаях иным лицам по усмотрению Банка;</p>
      <p>- осуществлять телефонные звонки (проводить телефонные переговоры), в том числе в автоматическом режиме, на телефонные номера (в том числе мобильные) Кредитополучателя, его супруги(а), а также его родственников, нанимателей;</p>
      <p>- направлять письма, электронные и SMS сообщения Кредитополучателю, его супруге(у), а также его родственникам, нанимателям, иным адресатам по усмотрению Банка по любым известным Банку адресам (реквизитам);</p>
      <p>- проводить переговоры (встречи) с Кредитополучателем, его супругой (ом), а также его родственниками, нанимателями;</p>
      <p>- принимать иные меры в соответствии с законодательством Республики Беларусь.</p>
      <p>6.4. Настоящим Кредитополучатель подтверждает, что:</p>
      <p>- ему разъяснены и понятны условия настоящего Кредитного договора, в том числе о размере, порядке расчета и уплаты платежей по погашению кредита и уплате процентов за пользование кредитом;</p>
      <p>Кредитополучатель до заключения Кредитного договора ознакомлен с условиями кредитования, в том числе с размером полной процентной ставки и графиком исполнения Кредитополучателем обязательств по настоящему договору (суммами платежей по срокам уплаты) и согласен с ними, и не имеет к Банку каких-либо претензий в отношении указанных в настоящем пункте условий.
      <p>6.5. Споры по настоящему договору рассматриваются в соответствии с законодательством Республики Беларусь по месту нахождения Банка (филиала, структурного подразделения Банка, выдавшего кредит).</p>
      <p>6.6. В случаях, не предусмотренных настоящим Кредитным договором, стороны руководствуются законодательством Республики Беларусь.</p>
      <p>6.7. Настоящий Кредитный договор составлен в 1-ом экземпляре, который хранится в Банке. Копия настоящего Кредитного договора предоставляется по заблаговременно переданному в Дополнительный офис/Региональную дирекцию Банка письменному заявлению Кредитополучателя при предъявлении им документа, удостоверяющего личность.</p>
      <p>Текст кредитного договора с {{ ЗАО нашБанк }} (Беларусь), адреса Дополнительных офисов и Региональных дирекций размещены на корпоративном сайте Банка: {{ www.coffin-bank.by }}</p>
      <br />
    <h1>7. АДРЕСА, РЕКВИЗИТЫ И ПОДПИСИ СТОРОН</h1>
      <p>Кредитодатель</p>
        <p>{{ Закрытое Акционерное Общество нашБанк }} (Беларусь)<br />
          {{ индекс, город, улица, дом }}
        </p>
        <p>{{ место подписи }}</p>
      <p>Кредитополучатель</p>
        <p>{{ Адрес регистрации (прописки) }}<br />
          Паспорт {{ Паспорт }}<br />
          Выдан {{ Выдан }}
        </p>
        <p>{{ место подписи }}</p>
    <p>{{ Подпись }} / {{ ФИО Кредитополучателя }}</p>
  </body>
</html>