<!DOCTYPE html>
<html>
<head>
  <title>AuthLib</title>
  <%= stylesheet_link_tag    "auth_lib/application", media: "all" %>
  <%= javascript_include_tag "auth_lib/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
